<%# login %>
<section class="bg-gray-50">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Sign in to your account
        </h1>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "space-y-4 md:space-y-6") do |f| %>
          <div>
            <%= f.label :email, "Your email", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true,
              class: "bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %>
          </div>

          <div>
            <%= f.label :password, "Password", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= f.password_field :password, autocomplete: "current-password", required: true,
              class: "bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %>
          </div>

          <div class="flex items-center justify-between mt-5">
            <div class="flex items-start">
            </div>
            <%= link_to "Forgot password?", new_password_path(resource_name),
              class: "text-sm font-medium text-primary-600 hover:underline dark:text-primary-500" %>
          </div>

          <div class="mt-4">
            <%= f.submit "Log in",
              class: "w-full text-white bg-[#FF4500] hover:bg-[#E03E00] focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>